<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Producto</title>
</head>
<body>
<div layout:fragment="dashboard">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
    <h3>Nuevo producto</h3>
            <br>
    <form th:action="@{/product/save}" th:object="${product}" method="post">


        <label class="form-label">Nombre</label>
        <input type="text" id="name" class="form-control" th:field="*{name}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>


        <label class="form-label">Categoria</label>
        <select type="text" id="category" class="form-control" th:field="*{category}" required>
            <option value="PAPELERIA">PAPELERIA</option>
            <option value="DULCERIA">DULCERIA</option>
            <option value="BISUTERIA">BISUTERIA</option>
        </select><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>

        <label class="form-label">Cantidad</label>
        <input type="number" id="quantity" class="form-control" th:field="*{quantity}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>

        <label class="form-label">Estado</label>
        <select type="text" id="state" class="form-control" th:field="*{state}" required>
            <option value="HABILITADO">HABILITADO</option>
            <option value="DESABILITADO">DESHABILITADO</option>
        </select><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></div>


        <label class="form-label">Precio</label>
        <input type="text" id="price" class="form-control" th:field="*{price}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

        <div class="form-group">
            <label class="form-label">Selecciona un nombre</label>
        <select id="proveedor" th:field="*{proveedor}" class="form-control" required>
            <th:block th:each="proveedor: ${proveedores}">
                <option th:text="${proveedor.nombre_completo}" th:value="${proveedor.id}"></option>
            </th:block>
        </select>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('proveedor')}" th:errors="*{proveedor}"></div>
        </div>
        <br>
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-secondary active" th:href="@{/product/all}">Cancelar</a>
        </div>
    </form>
        </div>
    </div>
</div>
</body>
</html>