<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="dashboard">
    <h3>New Product</h3>
    <form th:action="@{/product/save}" th:object="${product}" method="post">
        <label>Name:</label>
        <input type="text" id="name" class="form-control" th:field="*{name}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

        <label>Category:</label>
        <input type="text"id="category" class="form-control" th:field="*{category}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>

        <label>Quantity:</label>
        <input type="number" id="quantity" class="form-control" th:field="*{quantity}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>

        <label>State:</label>
        <input type="text" id="state" class="form-control" th:field="*{state}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></div>


        <label>price:</label>
        <input type="text" id="price" class="form-control" th:field="*{price}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>


        <select th:field="*{proveedor}">
            <th:block th:each="proveedor: ${proveedores}">
                <option th:text="${proveedor.primer_nombre}" th:value="${proveedor.id}"></option>
            </th:block>
        </select>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>