<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Actualizar</title>
</head>
<body>
<div layout:fragment="dashboard">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
    <h3>Actualizar Producto</h3>
            <br>
    <form th:action="@{'/product/update/' + ${product.id}}" th:object="${product}" method="post">
        <label>Name:</label>
        <input type="text" class="form-control" th:field="*{name}"><br>
        <label>Category:</label>
        <select type="text" id="category" class="form-control" th:field="*{category}" required>
            <option value="PAPELERIA">PAPELERIA</option>
            <option value="DULCERIA">DULCERIA</option>
            <option value="BISUTERIA">BISUTERIA</option>
        </select><br>
        <label>Quantity:</label>
        <input type="number" class="form-control" th:field="*{quantity}"><br>
        <label>State:</label>
        <select type="text" id="state" class="form-control" th:field="*{state}" required>
            <option value="HABILITADO">HABILITADO</option>
            <option value="DESABILITADO">DESHABILITADO</option>
        </select><br>
        <label>Price:</label>
        <input type="text" class="form-control" th:field="*{price}"><br>
        <div class="form-group">
            <label class="form-label">Selecciona un nombre</label>
            <select id="proveedor" th:field="*{proveedor}" class="form-control" required>
                <th:block th:each="proveedor: ${proveedores}">
                    <option th:text="${proveedor.nombre_completo}" th:value="${proveedor.id}"></option>
                </th:block>
            </select>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('proveedor')}" th:errors="*{proveedor}"></div>
        </div>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a class="btn btn-secondary active" th:href="@{/product/all}">Cancelar</a>
        </div>
    </form>
        </div>
    </div>
</div>
</body>
</html>