<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <h3>Update Supplier</h3>
    <form th:action="@{'/product/update/' + ${product.id}}" th:object="${product}" method="post">
        <label>Name:</label>
        <input type="text" class="form-control" th:field="*{name}"><br>
        <label>Category:</label>
        <input type="text" class="form-control" th:field="*{category}"><br>
        <label>Quantity:</label>
        <input type="number" class="form-control" th:field="*{quantity}"><br>
        <label>State:</label>
        <input type="text" class="form-control" th:field="*{state}"><br>
        <label>Price:</label>
        <input type="text" class="form-control" th:field="*{price}"><br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>