<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
  <!-- Importante para que sea responsive-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Importante para que sea responsive-->

  <title>User Dashboard</title>
</head>
<body>
<div layout:fragment="dashboard">
  <h2>Welcome to Admin Dashboard</h2>
  <p>Logged as: <span sec:authentication="name"></span></p>
  <p>Has role: <span sec:authentication="authorities"></span></p>
  <p><a th:href="@{/}">Home</a></p>
  <p><a th:href="@{/logout}">Log out</a></p>
</div>
</body>
</html>