<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutU}">
<head>
  <meta charset="UTF-8">
  <title>Cotización</title>
</head>
<body>
<div layout:fragment="dashboard">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <h3>Nueva Cotización</h3>
      <br>
  <form th:action="@{/cotizacion/save}" th:object="${cotizacion}" method="post">
    <div class="form-group">
      <label class="form-label">Selecciona un usuario</label>
      <select id="user" th:field="*{user}" class="form-control" required>
        <th:block th:each="user: ${users}">
          <option th:text="${user.firstName}" th:value="${user.id}"></option>
        </th:block>
      </select>
      <div class="alert alert-warning" th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></div>
    </div>
    <br>
    <div class="form-group">
      <label class="form-label">Selecciona un producto</label>
      <select id="product" th:field="*{product}" class="form-control" required>
        <th:block th:each="product: ${products}">
          <option th:text="${product.name}" th:value="${product.id}"></option>
        </th:block>
      </select>
      <div class="alert alert-warning" th:if="${#fields.hasErrors('product')}" th:errors="*{product}"></div>
    </div>
    <br>
    <label>Total:</label>
    <input type="number"id="total" class="form-control" th:field="*{total}" ><br>
    <div class="alert alert-warning" th:if="${#fields.hasErrors('total')}" th:errors="*{total}"></div>


    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a class="btn btn-secondary active" th:href="@{/cotizacion/all}">Cancelar</a>
    </div>
  </form>
</div>
  </div>
</div>
</body>
</html>