<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutU}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="dashboardU">
    <h3>Update Cotización</h3>
    <form th:action="@{'/cotizacion/update/' + ${cotizacion.id}}" th:object="${cotizacion}" method="post">
        <label>Fecha:</label>
        <input type="date" class="form-control" th:field="*{fecha}"><br>
        <label>Total:</label>
        <input type="number" class="form-control" th:field="*{total}"><br>
        <select th:field="*{cotizacion}">
            <th:block th:each="product: ${products}">
            <option th:text="${product.name}" th:value="${product.id}"></option>
            </th:block>
        </select>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>