<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutU}">
<head>
  <meta charset="UTF-8">

  <title>Todos</title>
  <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

</head>
<body>
<div layout:fragment="dashboard">
  <h2 class="fs-5 mb-4 d-flex justify-content-center">Lista pedido</h2>

  <div class="d-flex justify-content-between p-4">
    <div>
      <a class="btn btn-info" th:href="@{'/pedido/new/'}">Realizar pedido</a>
    </div>
  </div>
  <div class="table-responsive">
    <table id="pedidoTable" class="table table-striped table-bordered shadow-sm" style="width: 100%">
    <thead>
    <tr>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio total</th>
      <th>Direccion</th>
      <th>Forma de pago</th>
      <th>Acciones</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="pedido: ${pedidos}">
      <td th:text="${pedido.user.firstName}"></td>
      <td th:text="${pedido.fecha}"></td>
      <td th:text="${pedido.product.name}"></td>
      <td th:text="${pedido.cantidad}"></td>
      <td th:text="${pedido.total}"></td>
      <td th:text="${pedido.direccion}"></td>
      <td th:text="${pedido.forma_de_pago.forma_de_pago}"></td>
      <td>

        <a class="btn btn-info" th:href="@{'/pedido/update/' + ${pedido.id}}">Editar</a>
        <a class="btn btn-danger" th:onclick="eliminar([[${pedido.id}]])">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
    </div>
</div>
<div layout:fragment="addjs">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function () {
      $('#pedidoTable').DataTable();
    });
  </script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/js/delete/functionPedido.js"></script>

</div>
</body>
</html>