<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Actividad</title>
</head>
<body>
<div layout:fragment="dashboard">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h3>Nuevo Actividad</h3>
            <br>
            <form th:action="@{/actividad/save}" th:object="${actividad}" method="post">


                <label>Fecha:</label>
                <input type="date" id="fecha" class="form-control" th:field="*{fecha}" required><br>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></div>

                <br>

                <label>Cantidad:</label>
                <input type="number" id="cantidades" class="form-control" th:field="*{cantidades}" required><br>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('cantidades')}" th:errors="*{cantidades}"></div>

                <br>

                <label class="form-label">Movimiento</label>
                <select type="text" id="movimiento" class="form-control" th:field="*{movimiento}" required>
                    <option value="ENTRADA">ENTRADA</option>
                </select><br>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('movimiento')}" th:errors="*{movimiento}"></div>
                <br>

                <div class="form-group">
                    <label class="form-label">Selecciona un producto</label>
                    <select id="product" th:field="*{product}" class="form-control" required>
                        <th:block th:each="product: ${products}">
                            <option th:text="${product.name}" th:value="${product.id}"></option>
                        </th:block>
                    </select>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('product')}" th:errors="*{product}"></div>
                </div>
                <br>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-secondary active" th:href="@{/actividad/all}">Cancelar</a>
                </div>    </form>
        </div>
    </div>
</div>
</body>
</html>