<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
</head>
<body>
<div layout:fragment="dashboard">
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <td>Fecha</td>
      <td>Cantidad</td>
      <td>Detalle</td>
      <td>Total</td>
      <td>Acciones</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="venta: ${ventas}">
      <td th:text="${venta.fecha}"></td>
      <td th:text="${venta.cantidad}"></td>
      <td th:text="${venta.detalle}"></td>
      <td th:text="${venta.total}"></td>
      <td>
        <a class="btn btn-info" th:href="@{'/venta/new/'}">Crear</a>
        <a class="btn btn-info" th:href="@{'/venta/update/' + ${venta.id}}">Editar</a>
        <a class="btn btn-danger" th:href="@{'/venta/delete/' + ${venta.id}}">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>