<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="dashboard">
    <h3>Nueva Venta</h3>
    <form th:action="@{/venta/save}" th:object="${venta}" method="post">
        <label>Fecha:</label>
        <input type="date" class="form-control" th:field="*{fecha}"><br>
        <label>cantidad:</label>
        <input type="text" class="form-control" th:field="*{cantidad}"><br>
        <label>detalle:</label>
        <input type="text" class="form-control" th:field="*{detalle}"><br>
        <label>total:</label>
        <input type="number" class="form-control" th:field="*{total}"><br>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

</body>
</html>