<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Venta</title>
</head>
<body>
<div layout:fragment="dashboard">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h3>Nuevo Venta</h3>
            <br>
    <form th:action="@{/venta/save}" th:object="${venta}" method="post">
        <label>Fecha:</label>
        <input type="date" id="fecha" class="form-control" th:field="*{fecha}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></div>

        <br>
        <div class="form-group">
            <label class="form-label">Selecciona un producto</label>
            <select id="product" th:field="*{product}" class="form-control" required>
                <th:block th:each="product: ${products}">
                    <option th:text="${product.name}" th:value="${product.id}"></option>
                </th:block>
            </select>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('product')}" th:errors="*{product}"></div>
        </div>
        <br>

        <label>cantidad:</label>
        <input type="number" id="cantidad" class="form-control" th:field="*{cantidad}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></div>


        <label>total:</label>
        <input type="text" id="total" class="form-control" th:field="*{total}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('total')}" th:errors="*{total}"></div>

        <div class="form-group">
            <label class="form-label">Selecciona una forma de pago</label>
            <select id="forma_de_pago" th:field="*{forma_de_pago}" class="form-control" required>
                <th:block th:each="forma_de_pago: ${forma_de_pagos}">
                    <option th:text="${forma_de_pago.forma_de_pago}" th:value="${forma_de_pago.idforma_de_pago}"></option>
                </th:block>
            </select>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('forma_de_pago')}" th:errors="*{forma_de_pago}"></div>
        </div>
        <br>



        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-secondary active" th:href="@{/venta/all}">Cancelar</a>
        </div>    </form>
</div>
    </div>
</body>
</html>