<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Calificación</title>

    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

</head>
<body>
<div layout:fragment="dashboard">
    <h2 class="fs-5 mb-4 d-flex justify-content-center">Lista Calificaciones</h2>

    <div class="d-flex justify-content-between p-4">
    </div>

    <div class="table-responsive">
        <table id="calificacionTable" class="table table-striped table-bordered shadow-sm" style="width: 100%">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Producto</th>
                <th>Puntuación</th>
                <th>Observaciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="calificacion: ${calificaciones}">
                <td th:text="${calificacion.fecha}"></td>
                <td th:text="${calificacion.product.name}"></td>
                <td th:text="${calificacion.puntuacion}"></td>
                <td th:text="${calificacion.observaciones}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div layout:fragment="addjs">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#calificacionTable').DataTable();
        });
    </script>
</div>
</body>
</html>