<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutU}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div layout:fragment="dashboardU">
  <h3>Nueva Calificacion</h3>
  <form th:action="@{/calificacion/save}" th:object="${calificacion}" method="post">
    <label>Puntuacion:</label>
    <input type="text" class="form-control" th:field="*{puntuacion}"><br>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>

</body>
</html>