<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutU}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="dashboardU">
  <table class="table table-striped table-dark">
    <thead>
    <tr>

      <td>Tipo</td>
      <td>Descripcion</td>
      <td>Fecha</td>
      <td>Acciones</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pqrs: ${pqrss}">
      <td th:text="${pqrs.tipo}"></td>
      <td th:text="${pqrs.descripcion}"></td>
      <td th:text="${pqrs.fecha}"></td>
      <td>
        <a class="btn btn-danger" th:href="@{'/pqrs/new/'}">Crear</a>
        <a class="btn btn-info" th:href="@{'/pqrs/update/' + ${pqrs.id}}">Editar</a>
        <a class="btn btn-danger" th:href="@{'/pqrs/delete/' + ${pqrs.id}}">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>