<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
    <th:block layout:fragment="addhead">
        <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    </th:block>
</head>
<body>
<div layout:fragment="dashboard">
    <table id="supplierTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>RUT</td>
                <td>Primer Nombre</td>
                <td>Segundo Nombre</td>
                <td>Primer Apellido</td>
                <td>Segundo Apellido</td>
                <td>Telefono</td>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        <a class="btn btn-info" th:href="@{'/proveedor/new/'}">Crear</a>
        <tr th:each="proveedor: ${proveedores}">
                <td th:text="${proveedor.RUT}"></td>
                <td th:text="${proveedor.primer_nombre}"></td>
                <td th:text="${proveedor.segundo_nombre}"></td>
                <td th:text="${proveedor.primer_apellido}"></td>
                <td th:text="${proveedor.segundo_apellido}"></td>
                <td th:text="${proveedor.telefono}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/proveedor/update/' + ${proveedor.id}}">Edit</a>
                    <a class="btn btn-danger" th:onclick="eliminar([[${proveedor.id}]])">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div layout:fragment="addjs">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#supplierTable').DataTable();
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/delete/functionProveedor.js"></script>

</div>

</body>
</html>