<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutHome}">

<!-- Importante para que sea responsive-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Importante para que sea responsive-->

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/estiloscatalogo.css}" rel="stylesheet">
<link th:href="@{/css/estilos.css}" rel="stylesheet">
<link th:href="@{/css/all.min.css}" rel="stylesheet" >
<link th:href="@{../../static/css/estilosInicio.css}" rel="stylesheet" >

<link th:href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script th:src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/d1b84c8faa.js" crossorigin="anonymous"></script>


<title>Title</title>

<head>

</head>
<body>
<div layout:fragment="content" >
    <div class="">

    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade mb-4" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel slide" id="carouselExampleSlidesOnly" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{img/carrusel/verde.jpg}" alt="" class="d-block w-100">
                </div>

                <div class="carousel-item">
                    <img th:src="@{img/carrusel/autobus.jpeg}" alt="" class="d-block w-100">
                </div>

                <div class="carousel-item">
                    <img th:src="@{img/carrusel/utiles.png}" alt="" class="d-block w-100">
                </div>
            </div>
        </div>
    </div>
    <!--/.Carousel Wrapper-->

    <!-- content -->

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-5 ">
        <div class="col">
            <div class="card h-100 view overlay shadow p-2 mb-5 bg-body rounded" >
                <div class="card-img">
                <img src="img/Productos/cuadernoargollado.jpg" class="img-fluid card-img-top" alt="...">
                </div>
                <!-- Card Content -->
                <div class="card-body">
                    <h5 class="card-title">Cuaderno Argollado</h5>
                    <p class="card-text">Cuaderno ECO grande 80 hojas</p>
                    <button type="button" class="btn btn-info btn waves-effect waves-teal">Añadir</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 view overlay shadow p-2 mb-5 bg-body rounded">
                <div class="card-img">
                <img src="img/Productos/plastilina.png" class="img-fluid card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Plastilina</h5>
                    <p class="card-text">Plastilina pastel grande varios colores</p>
                    <a th:href="@{/shoppingCar}" type="button" class="btn btn-info">Añadir</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 view overlay shadow p-2 mb-5 bg-body rounded">
                <div class="card-img">
                <img src="img/Productos/sharpie.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Marcadores Sharpie</h5>
                    <p class="card-text">17 Marcadores Sharpie edicion limitada</p>
                    <button type="button" class="btn btn-info">Añadir</button>
                </div>
            </div>
        </div>
    </div>




</div>


</div>
</body>

<style>
    body{
        background-color: #0a53be !important;
    }

    .card-img{
        overflow: hidden;
    }
    .card-img img{
        transition: all 1.3s ease;
    }
    .card:hover img{
        transform: scale(1.2);
    }

</style>



<script th:src="@{/js/JQuery.js}"></script>
<script th:src="@{/js/Popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>