<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
  <!-- Importante para que sea responsive-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Importante para que sea responsive-->
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <script src="https://kit.fontawesome.com/d1b84c8faa.js" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous"></script>
</head>
<body>
<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-body">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="#">
      <img th:src="@{/img/logotipomult.png}" alt="" height="46" style="margin-top: -1px;">
    </a>


    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/inicio}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/catalogo}">Catalogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/contacto}">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/nosotros}">Nosotros</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <a th:href="@{/login}" type="button" class="btn btn-outline-success px-3 me-2 text-decoration-none">
          Iniciar sesion
        </a>
        <a th:href="@{/register}" type="button" class="btn btn-success me-3">
          Registrate
        </a>
        <a
                class="btn btn-dark px-3"
                href="https://github.com/mdbootstrap/mdb-ui-kit"
                role="button"
        ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>

<div class="bg-body">
<div class="container">
  <div class="row pt-4">
    <div class="col-md-12">
      <!-- Content Section -->
      <section layout:fragment="content">
        <p>This is filled by the content template.</p>
      </section>
    </div>
  </div>
</div>
</div>

<!-- PreFooter -->

<section class="text-center m-4">
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
      <i class="fa-solid fa-award fa-3x text-reset mb-4"></i>
      <h5 class="text-reset fw-bold mb-3">Productos para ti</h5>
      <h6 class="fw-normal mb-0">Calidad</h6>
      <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
    </div>

    <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
      <i class="fa-solid fa-circle-check fa-3x text-reset mb-4"></i>
      <h5 class="text-reset fw-bold mb-3">Compra sin problemas</h5>
      <h6 class="fw-normal mb-0">Facil</h6>
      <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
    </div>

    <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
      <i class="fa-sharp fa-solid fa-truck fa-3x text-reset mb-4"></i>
      <h5 class="text-reset fw-bold mb-3">Desde cualquier lugar</h5>
      <h6 class="fw-normal mb-0">Entrega en tu barrio</h6>
      <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
    </div>

    <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
      <i class="fa-solid fa-truck-fast fa-3x text-reset mb-4"></i>
      <h5 class="text-reset fw-bold mb-3">Compra rapido</h5>
      <h6 class="fw-normal mb-0">Eficiente</h6>
    </div>
  </div>
</section>








<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Sigue nuestras redes sociales</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Papeleria multicolor
          </h6>
          <p>
            Desde utiles escolares, hasta productos de oficina para todo tipo, con envio incluido.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Productos
          </h6>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Oficina</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Escolar</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Archivo</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Gran formato</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Acerca de
          </h6>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Precios</a>
          </p>
          <p>
            <a th:href="@{/login}" class="text-reset text-decoration-none">Inicia sesion</a>
          </p>
          <p>
            <a th:href="@{/register}" class="text-reset text-decoration-none">Registrate</a>
          </p>
          <p>
            <a th:href="@{/nosotros}" class="text-reset text-decoration-none">¿Quienes somos?</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="fas fa-home me-3"></i> Calle 131B #101-10</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            papeleriamulticolor1@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 57 3114680826</p>
          <p><i class="fas fa-print me-3"></i> + 57 3114680826</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#/">PapeleriaMulticolor.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>