<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Respuestas</title>

  <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

</head>
<body>
<div layout:fragment="dashboard">
  <h2 class="fs-5 mb-4 d-flex justify-content-center">Lista Respuestas</h2>

  <div class="table-responsive">
    <table id="respuestaTable" class="table table-striped table-bordered shadow-sm" style="width: 100%">
    <thead>
    <tr>
      <th>PQRS</th>
      <th>Respuesta</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="respuesta: ${respuestas}">
      <td th:text="${respuesta.pqrs.descripcion}">
      <td th:text="${respuesta.informacion}">
      <td>
        <a class="btn btn-info" th:href="@{'/respuesta/update/' + ${respuesta.id}}">Editar</a>
        <a class="btn btn-danger" th:onclick="eliminar([[${respuesta.id}]])">Eliminar</a>
      </td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div layout:fragment="addjs">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function () {
      $('#respuestaTable').DataTable();
    });
  </script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/js/delete/functionRespuesta.js"></script>

</div>
</body>
</html>