<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Respuesta</title>
</head>
<body>
<div layout:fragment="dashboard">
    <h3>Nueva Respuesta</h3>
    <form th:action="@{/respuesta/save}" th:object="${respuesta}" method="post">
        <label>Respuesta:</label>
        <textarea placeholder="respuesta" th:field="*{respuesta}"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

</body>
</html>