<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Actualizar</title>
</head>
<body>
<div layout:fragment="dashboard">
    <h3>Nueva Respuesta</h3>
    <form th:action="@{'/respuesta/update/' + ${respuesta.id}}" th:object="${respuesta}" method="post">
        <label>Fecha:</label>
        <input type="date" id="fecha" class="form-control" th:field="*{fecha}" required><br>
        <br>
        <label>Respuesta:</label>
        <textarea class="form-control" th:field="*{informacion}"></textarea>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-secondary active" th:href="@{/respuesta/all}">Cancelar</a>
        </div>
    </form>
</div>
</body>
</html>