<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutU}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="dashboardU">
  <table class="table">
    <thead>
    <tr>
      <th>Referencia del envio</th>
      <th>Fecha de creacion</th>
      <th>Fecha de actualizacion</th>
      <th>Destino</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tracking: ${trackings}">
      <td th:text="${tracking.ref}"></td>
      <td th:text="${tracking.date_start}"></td>
      <td th:text="${tracking.date_end}"></td>
      <td th:text="${tracking.destination}"></td>
      <td>
        <a class="btn btn-success" th:href="@{/tracking/new}">Create</a>
        <a class="btn btn-primary" th:href="@{'/tracking/update/' + ${tracking.id}}">Edit</a>
        <a class="btn btn-danger" th:href="@{'/tracking/delete/' + ${tracking.id}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>


</body>
</html>