<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutU}">
<head>
    <meta charset="UTF-8">
    <title>Seguimiento de envio</title>
  <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

</head>
<body>
<div layout:fragment="dashboardU">
  <table class="table">
    <thead>
    <tr>
      <th>Referencia del envio</th>
      <th>Fecha de creacion</th>
      <th>Fecha de actualizacion</th>
      <th>Destino</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <a class="btn btn-success" th:href="@{/tracking/new}">Create</a>
    <tr th:each="tracking: ${trackings}">
      <td th:text="${tracking.ref}"></td>
      <td th:text="${tracking.date_start}"></td>
      <td th:text="${tracking.date_end}"></td>
      <td th:text="${tracking.destination}"></td>
      <td>
        <a class="btn btn-primary" th:href="@{'/tracking/update/' + ${tracking.id}}">Editar</a>
        <a class="btn btn-danger" th:onclick="eliminar([[${tracking.id}]])">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<div layout:fragment="addjs">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function () {
      $('#seguimientoTable').DataTable();
    });
  </script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/js/delete/functionSeguimiento.js"></script>

</div>

</body>
</html>