<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutD}">
<head>
    <meta charset="UTF-8">
    <title>Editar inventario</title>
</head>
<body>
<div layout:fragment="dashboard">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h3>Actualizar </h3>
            <br>
    <form th:action="@{'/inventario/update/' + ${inventario.id}}" th:object="${inventario}" method="post">
        <label>Categoria:</label>
        <select type="text" id="category" class="form-control" th:field="*{categoria}" required>
            <option value="PAPELERIA">PAPELERIA</option>
            <option value="DULCERIA">DULCERIA</option>
            <option value="BISUTERIA">BISUTERIA</option>
        </select><br>

        <input hidden type="text" class="form-control" th:field="*{cantidad}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></div>

        <label>Descripción:</label>
        <input type="text" class="form-control" th:field="*{descripcion}" required><br>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>


        <div class="form-group">
            <label class="form-label">Selecciona un producto</label>
            <select id="product" th:field="*{product}" class="form-control" required>
                <th:block th:each="product: ${products}">
                    <option th:text="${product.name}" th:value="${product.id}"></option>
                </th:block>
            </select>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('product')}" th:errors="*{product}"></div>
        </div>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a class="btn btn-secondary active" th:href="@{/inventario/all}">Cancelar</a>
        </div>
    </form>
</div>
    </div>
    </div>
</div>

</body>
</html>